<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="disable_frontend" translate="label" type="text" sortOrder="9999" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Disable frontend</label>
                <field id="show_frontend_as" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show frontend as</label>
                    <source_model>FocusriteNovation\DisableFrontend\Model\Config\Source\Custom</source_model>
                </field>
                <field id="redirect_to" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redirect to</label>
                    <validate>validate-url</validate>
                </field>
                <field id="allow_checkout" translate="label" type="checkbox" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow checkout routes</label>
                </field>
            </group>
        </section>
    </system>
</config>
